$green-100: #e3f9e5;
$green-200: #c1eac5;
$green-300: #a3d9a5;
$green-400: #7bc47f;
$green-500: #57ae5b;
$green-600: #3f9142;
$green-700: #2f8132;
$green-800: #207227;
$green-900: #0e5814;
$green-950: #05400a;
